* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "noto sans";
}

body {
    font-family: "noto sans";
    font-size: 20px;

}

header {
    margin: 0%;
    width: 650px;
}

h1 {
    margin: 5px;
    font-size: larger;
    color: #4023e7;
    text-align: center;
    border-bottom: #000;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 3px;
    border:  1px solid black;
    border-radius: 1%;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 3px;
    margin: 3px;
    border: 1px solid black;
    padding: 3px;
}


legend {
    padding: 3px;
    color: #4023e7;
    font-size: larger;


}


label {
    margin-bottom: 5px;
    color: #eb6518;
    font-size: larger;
    text-align: right;
    padding-right: 1rem;
}

input {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    color: #000;
    font-size: large;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4023e7;
    color: white;
    cursor: pointer;
    font-size: larger;

}


button:hover {
    background-color: #3019b0;
}
    
select {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    color: #000;
    font-size: large;

}

textarea {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    color: #000;
    font-size: large;
}


.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}


.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}








footer {
    display: grid;
    color: #4023e7;
    text-align: center;
    border-top: 1px solid #000;
}
















.lato-thin {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: italic;
  }
  