:root {
    --primary-color:#9FC131;
    --secondary-color:#F4630F;
    --accent1-color:#115AAE;
    --accent2-color: #FFFAF2;
    --accent3-color: #000000;
}

* {
    margin: 5px;
    text-decoration: none;
}

h1,h2 {
  font-family: 'poppins';
  color: var(--accent3-color);
  text-shadow: 2px 2px 2px grey;
  font-size: 2.1rem;
}

header a {
  font-family: 'lato';
  color: var(--accent2-color);
  text-shadow: 2px 2px 2px grey;
  font-size: 1.5rem;
}

p {
  font-family: 'lato';
  color: var(--accent3-color);
  text-shadow: 2px 2px 2px grey;
  font-size: 1.5rem;
}
a {
  color: var(--accent3-color);
  text-shadow: 2px 2px 2px grey;
  font-size: 1.5rem;
}
a img {
  text-decoration: none;
  overflow: hidden;
}

.hero {
  
  overflow-y: hidden;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;

}

.hero h1 {
  font-size: 50px;
  margin: 0.5em;
  padding: 15px;
  width: 100%;
  text-align: center;
  background-color: var(--secondary-color);

  opacity: 80%;
  position: absolute;
  top: 10px;
  
  overflow: hidden;
  z-index: 1;
}

.hero article img {
  height: 110px;
  width: 100px;
  float: right; 
  overflow: hidden;
}


.hero article {
  position: absolute; 
  bottom: 40px; 
  background-color: var(--secondary-color); 
  opacity: 80%;
  /* padding: clamp(1rem, 3vw, 2rem); */
  color: #000;
  margin: 0 1rem; 
  overflow: hidden;
}

.hero article p {
  padding-top: 20px; 
  font-size: 1.1rem;
  overflow: hidden;
}



header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background: var(--accent1-color);
  color: white;
  height: 17rem;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
}


.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

nav {
  display: flex;
  justify-content: space-around;
  
}


/* About Us page History Element */

.history {
  background-color: var(--secondary-color);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr .5fr 1fr;
  grid-auto-flow: row dense;
}

.historymiddle {
  height: fit-content;
  width: auto;
}

/* About Us page History Element */


/* About Us page Adventure Element */

/* DO NOT TOUCH */
.sectionimg {
  display: flex;
  flex-direction: row;
}
/* DO NOT TOUCH */


.adventure {
background-color: var(--secondary-color);
display: grid;
grid-template-rows: 0.2fr 1.8fr;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-auto-flow: row dense;
}

.sectionheader {
  grid-row: span 1;
  grid-column: span 6;
  text-align: center;
}

.sectionimg > figure > img {
  grid-row: span 1;
  grid-column: span 6;
  width: 350px;
  height: auto;
} 

section div figure figcaption{
  font-size: 30px;
  text-align: center;
  font-family: "poppins";
}

/* About Us page Adventure Element */

footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-items: center;
  background-color: var(--accent1-color);
  /* z-index: 0; */
}

 /* Font things? */

 .lato-thin {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: italic;
  }




  .lato-thin {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  
  